{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": "2",
        "useBuiltIns": "usage",
        "targets": {
          "browsers": "last 2 versions, not ie <= 9"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false
      }
    ]
  ]
}
